{% extends "base.html" %}

{% block content %}


  <body>

    
      <div class="album py-5 bg-light" style="background-color: green">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><strong>Find Bus</strong></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <a href="">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                    
                  <p class="card-text"><strong>Bookings</strong></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                            <a href="">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </a>
                     
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><strong>Cancellation</strong></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </a>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>

           
              
      </div>

    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>

{% endblock %}